NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SUPABASE_URL=https://hukuiuqtbznqshsrjnuz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Sm6cTCu6HTsYkPypwo1_LA_kdzhDEJS
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Sm6cTCu6HTsYkPypwo1_LA_kdzhDEJS


